* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Roboto;
}

.menu, #hero-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 1200px;
}

/* ===== HEADER STYLE ===== */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}

.menu {
    padding: 15px;
}
#logo {
    font-size: 24px;
    color: #F9FAF8;
}

.menu-options li {
    display: inline-block;
    padding: 15px;
}
.menu-options li a {
    font-size: 18px;
    color: #E5E7EB;
}

/* ===== HERO STYLE ===== */

#hero {
    background-color: #1F2937;
    padding: 100px 0;
    color: white;
    display: flex;
    justify-content: center;
}
#hero #hero-body {
    height: 100%;
    flex-wrap: wrap;
}

.hero-text, .hero-image {
    flex-basis: 50%;
}

/* ===== HERO TEXT ===== */

.hero-text {
    padding-right: 20px;
}
.hero-text h2, .hero-text p, .hero-text a {
    margin: 10px 0;
}
#hero h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
#hero p {
    font-size: 18px;
    color: #E5E7EB;
}
#hero a {
    display: inline-block;
    padding: 5px 20px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
}

/* ===== HERO IMAGE ===== */

.hero-image {
    display: flex;
    justify-content: end;
    max-height: 300px;
    min-width: 500px;
}
.hero-image img {
    max-width: 90%;
    object-fit: cover;
}

/* ===== INFORMATION SECTION ===== */

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 150px;
}
.information-section h3{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 30px;
    text-align: center;
}

.information-divs {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 40px auto;
}

.information-child {
    width: 200px;
}
.information-child div {
    height: 200px;
    border: 3px solid rgb(100, 167, 255);
    border-radius: 10px;
    margin-bottom: 10px;
}
.information-child p {
    display: inline-block;
    text-align: center;
}